{
    "env": {
        "development": {
            "presets": [
                "flow",
                ["env", {
                    "targets": {
                        "browsers": ["last 2 Chrome versions"]
                    }
                }]
            ]
        },
        "production": {
            "presets": [
                "flow",
                ["env", {
                    "targets": {
                        "browsers": ["last 2 versions", "safari 7", "IE 11"]
                    }
                }]
            ]
        }
    }
}

